<section class="module module--text-block"{% if module.data.align == 'left' %} style="text-align: left;"{% endif %}>
  <div class="container">
    {% if module.data.headline %}
    <h2>{{ module.data.headline }}</h2>
    {% endif %}
    
    <div class="text-content">
      {{ module.data.text | markdown | safe }}
    </div>
    
    {% if module.data.ctaText %}
    <a href="{{ module.data.ctaLink }}" class="btn">{{ module.data.ctaText }}</a>
    {% endif %}
  </div>
</section>
